@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --bg-black: #000000;
  --box-white: #ffffff;
  --main-color: #FFA500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
}


/* Start globar Style */

.mini-title {
  color: var(--main-color);
}

.main-title {
  margin-bottom: 80px;
  color: #fff;
}

.border-section {
  max-width: 600px;
  height: 2px;
  background-color: #fff;
  margin: 50px auto;
}

.read-more {
  color: #fff;
  transition: all .4s ease-in-out;
}

.read-more:hover {
  color: var(--main-color);
}

.breadcrumbs {
  border-radius: 0;
  background-color: #dfe0e0;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.breadcrumb {
  margin-bottom: 0 !important;
  background-color: inherit;
}

/* Form Storge */
.form-storge {
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
  padding: 20px;
  background-color: #fff;
  margin: auto;
  margin-top: -100px;
  box-shadow: 0 0 10px 5px  rgba(255, 136, 0, 1.9);
  /* border: 15px solid var(--main-color); */
}

.storge-title {
  font-size: 21px;
  color: #2b3139;
  font-weight: 700;
  text-align: center;
  margin: 0px;
}

.main-form label {
  font-size: 14px;
  color: #2b3139;
  font-weight: 600;
}

.main-form input {
  width: 100%;
  background: #f6f7f7;
  padding: 12px;
  border-radius: 8px !important;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.main-form textarea {
  width: 100%;
  padding: 12px;
  height: 45px;
  border-radius: 8px !important;
  border: 1px solid #ccc;
  background: #f6f7f7;
}

.main-form .btn-head-form {
  background: var(--main-color);
  width: 100%;
  border-radius: 8px;
  text-align: center;
  color: #fff; 
  margin-top: 24px;
  padding: 13px 5px;
}

/* End Form Storge */
.head-pages {
  padding: 80px 0;
}

.head-page-title {
  color: var(--main-color);
  font-weight: bold;
}

.head-page-summery {
  color: #fff;
  width: 50%;
}

/* start sidebar */
.title-sidebar{
  color: var(--main-color);
}
.links-sidebar li {
  padding: 12px 0px;
  border-bottom: 1px solid #e0e1e3;
  color: #ccc;
}
.links-sidebar li a{
  transition: all .4s ease-in-out;
}
.links-sidebar li:hover a{
  margin-left:10px ;
  border-left: 3px solid var(--main-color);
  padding-left: 10px;
}
.testimonial-summery{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 0 8px rgba(255, 255, 255, 0.9);
  color: #5e6671;
  margin-top: 30px;
}

/* end sidebar */
/* Start Section How It Works */
.how-work {
  padding: 80px 0;
}

.works-blog img {
  max-width: 100%;
  background-color: #fff;
  padding: 0 0 0 20px;
  border-radius: 10px;
}

.works-blog h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

.works-blog p {
  font-size: 15px;
  line-height: 27px;
  color: #6e7681;
  font-weight: 400;
}

/* End Section How It Works */

/* Start Offer Blog */
.offer-blog {
  padding: 25px 25px 30px 25px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.offer-blog img {
  border-radius: 10px;
  margin-bottom: 30px;
}

.offer-blog h3 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.offer-blog p {
  color: #6e7681;
}

.offer-blog:hover {
  border: 2px solid var(--main-color);
}

.offer-blog:hover h3,
.offer-blog:hover span {
  color: var(--main-color);
}
/* End Offer Blog */

/* Start Modal Dailog */
.modal-dialog{
  max-width: 1000px !important;
}
.modal-content{
  background-color: transparent;
  border: none;
}
/* End Modal Dailog */


/* End Global Style **********************************/


/* Start Top bar */
.top-bar {
  border-bottom: 1px solid var(--main-color);
  color: #fff;
}

.widjet-top-bar {
  text-align: right;
  padding: 10px 0;
  font-weight: 600;
}

/* Start Navbr  */
.navbar {
  border-bottom: 1px solid var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-brand img {
  margin: -45px 0 0;
  height: 115px;
  width: 150px;
}

.navbar-nav li a:not(.dropdown-item) {
  color: #fff !important;
  transition: all .4s ease-in-out;
}

.navbar-nav .nav-item {
  padding-right: 15px !important;
}

.navbar-nav .nav-link:last-child {
  padding-right: 0 !important;
  padding-left: 15px;
}

.navbar-nav li a:hover {
  color: var(--main-color) !important;
}

.dropdown-menu {
  top: 95%;
}

.dropdown-item {
  color: #000 !important;
  transition: all .4s ease-in-out;
}

.popup {
  color: var(--main-color) !important;
}

/* Start Media Query for header */
@media (max-width: 992px) {
  .media-hide {
    display: none;
  }

  .navbar-brand img {
    margin: -63px 0 0;
    height: 115px;
    width: 150px;
  }

  .navbar-nav .nav-link:last-child {
    padding-left: 0;
  }
}

/* End Media Query for headr */
/* End Navbr  */

/* Start Footer */
.footer {
  padding: 80px 0;
  border-top: 1px solid var(--main-color);
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-footer img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.summery-footer {
  margin-bottom: 20px;
  color: #cdcecf;
}

.btn-footer .get-quote-f {
  width: 100%;
  display: block;
  background-color: var(--main-color);
  color: #fff;
}

.head-footer {
  color: var(--main-color);
  margin-bottom: 40px;
  margin-top: 20px;
}

.usful-links li {
  margin-bottom: 20px;
  color: #cdcecf;
}

.address-footer,
.calls-footer,
.mail-footer,
.follow-footer {
  color: #cdcecf;
}

.map-footer {
  margin-top: 40px;
}

.map-footer iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* End Footer */

/* Start CopyRight Footer */
.copy-rights {
  border-top: 1px solid var(--main-color);
  padding: 10px 0;
  color: #cdcecf;
}

.copy-rights p {
  margin: 0;
}

/* End Copy Right Footer */


